# === Global Ignores ===
.DS_Store
.idea/
*.iml
*.log
*.class

# === OS Specific ===
Thumbs.db
ehthumbs.db
Desktop.ini

# === Maven / Gradle ===
target/
build/
.gradle/
out/

# === IntelliJ / Eclipse ===
*.iws
*.ipr
*.bak
*.swp
*.tmp
*.orig

# === VSCode ===
.vscode/

# === Logs ===
logs/
*.log
*.gz

# === AuthService specific ===
AuthService/target/
AuthService/.idea/
AuthService/.DS_Store

# === UserService specific ===
UserService/target/
UserService/.idea/
UserService/.DS_Store

# app-docker
expensetracker-app-docker/Auth-Service/*.jar
expensetracker-app-docker/User-Service/*.jar